<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar Sistema</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav-bar.css">
   
</head>
<body>
    <div id="app">

        <div class="header">
            {{header()}}
        </div>

        <section class="posicao-section conteudo">
            <div class="container ">
                    <div class="form-login">
                        <h2>Cadastrar Usuário</h2>
                        <div class="error">
                            <ul>
                                <li v-for="er in erros">{{er}}</li>
                            </ul>
                        </div>
                        <div class="input-field">
                            <label for="usuario">Usuário</label>
                            <input type="text" id="usuario" class="validate"  v-model.trim.required="credencial.nome" placeholder="login">
                        </div>
            
                        <div class="input-field">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha" class="validate"  v-model.trim.required="credencial.senha" placeholder="password">
                        </div>
                        <div class="input-field">
                            <label for="senha2">Repetir Senha</label>
                            <input type="password" id="senha2" class="validate" v-model.trim.required="credencial.repSenha" placeholder="Repeat password">
                        </div>
    
                        <div class="input-field col s12">
                            <button class="btn" v-on:click="salva()">Cadastrar</button>
                            <button class="btn orange" v-on:click="cancela()" v-if="verificaUser"> Cancelar</button>
                            <button class="btn red" v-on:click="exclui()" v-if="verificaUser">Excluir</button>
                        </div>
                    </div>    
            </div>
        </section>

        <section v-if="verificaUser" class="container lista-usuarios">
            <div class="userBlockDiv" v-for="(t, index) in usuarios" v-on:click="selecionaUsuario(t)" style="cursor: pointer">
                <div class="userBlock">
                    <legend>Usuário:</legend>
                    <h4>{{t.nome}}</h4>
                </div>
            </div>

        </section>


        <div class="footer">
            {{footer()}}
        </div>
        

        <div class="loader">
            {{loader()}}
        </div>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/scripts.js"></script>
    
    <script>
        var vapp = new Vue({
            el: "#app",
            data(){
                return{
                    credencial: {},
                    verificaUser: this.verifLogin(),
                    usuarios: [],
                    erros: [],
                    loader: loader(),
                    footer: footer(),
                    header: header(),
                }
                
            },
            mounted() {
                this.verifLogin();
                this.getUsuarios();
            },
            methods: {
                deslogar(){
                    sessionStorage.removeItem("token");
                    window.location.href = "/"
                },
                verifLogin(){
                    if(sessionStorage.getItem("token") == null){
                        return false;
                    }else return true;
                },
                selecionaUsuario(t) {
                    //seleciona a tarefa ao clicar na tabela
                    this.credencial = t;
                },
                getUsuarios() {
                    let _this = this;
                    //requisição do tipo GET para recuprar as entidades
                    //envia token no header para autenticação
                    $.ajax({
                        url: "http://localhost:8080/usuario",
                        method: "GET",
                        beforeSend(xhr) {
                            xhr.setRequestHeader(
                                "Authorization",
                                "Bearer " + sessionStorage.getItem("token")
                            );
                        },
                        success(r) {
                            _this.usuarios = r;
                        },
                        error(x) {
                            console.log(`Erro: ${x}`);
                        },
                    });
                },
                validarForm(){
                    let _this = this;
                    _this.erros = [];

                    // console.log(_this.credencial);
                    // _this.erros.push('a')
                    
                    (_this.credencial.nome == null || _this.credencial.nome == "")? _this.erros.push("Informe o nome") : ""; 
                    (_this.credencial.senha == null || _this.credencial.senha === "")? _this.erros.push("O campo da senha não pode estar vazio") : ""; 
                    (_this.credencial.repSenha == null || _this.credencial.repSenha === "")? _this.erros.push("Reptar a senha") : ""; 
                    (_this.credencial.repSenha !== _this.credencial.senha)? _this.erros.push("Senhas não conferem") : ""; 

                },

                salva() {
                    event.preventDefault();
                    let _this = this;
                    _this.erros = [];
                    _this.validarForm();

                    if(this.erros.length < 1){
                        //requisição do tipo POST para inserir ou atualizar uma entidade
                        //se houver id então atualiza -> isso é verificado no backend
                        //envia token no header para autenticação
                        $.ajax({
                            url: "http://localhost:8080/usuario",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(_this.credencial),
                            beforeSend(xhr) {
                                xhr.setRequestHeader(
                                    "Authorization",
                                    "Bearer " + sessionStorage.getItem("token")
                                );
                            },
                            success(r) {
                                _this.getUsuarios();
                                _this.cancela();
                               window.location.href = "/front/signin/";
                            },
                            error(x) {
                                if(x.status === 500){
                                    _this.erros.push("usuário inválido !")
                                }
                                $(".loader").hide()
                            },
                        });
                        $(".loader").show()
                    }
                    
                    
                },
                exclui() {
                    let _this = this;
                    if (_this.credencial.id) {
                        //requisição do tipo DELETE para excluir uma entidade
                        //envia token no header para autenticação
                        $.ajax({
                            url: "http://localhost:8080/usuario/" + _this.credencial.id,
                            method: "DELETE",
                            beforeSend(xhr) {
                                xhr.setRequestHeader(
                                    "Authorization",
                                    "Bearer " + sessionStorage.getItem("token")
                                );
                            },
                            success(r) {
                                $(".loader").hide();
                                _this.getUsuarios();
                                _this.cancela();
                            },
                            error(x) {
                                $(".loader").hide();
                                console.log(`Erro: ${x}`);
                            },
                        });
                        $(".loader").show();
                       
                    }
                },

                cancela(){
                    let _this = this;
                    _this.credencial = {};
                    _this.erro = []
                }
    
            }
        })
    </script>
    
    <script src="../js/mobileNavBar.js"></script>
</body>
</html>







