@font-face {
  font-family: 'es';
  src: url('../font/Devil Breeze Demi.ttf') format('truetype');
}
.center.brand-logo{
  font-family: 'es';
  font-size: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 2rem;
}
.form-login{
    margin: auto;
    min-width: 250px;
    width: 50%;
}
.form-login h2{
    text-align: center;
}

.error{
    color: red;
    text-align: center;
    font-size: 12px;
}

body{
    color: rgb(78, 56, 0);
    background: rgb(241, 241, 241);
}

header{
  min-height: 80px;
}
main, section{
  min-height: calc( 100vh - 80px - 210px);
}
.posicao-section{
  display: flex; 
     flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center; 

}
.home{
    padding: 20px 0;
    width: 100%;

}
footer{
  min-height: 210px;
}
#batata{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3em;
    font-family: "Roboto";
    background-color:  whitesmoke;
}



/* loader */
.loader{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: white;
}
.radar-spinner, .radar-spinner * {
    box-sizing: border-box;
  }

  .radar-spinner {
    height: 60px;
    width: 60px;
    position: relative;
  }

  .radar-spinner .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: radar-spinner-animation 2s infinite;
  }

  .radar-spinner .circle:nth-child(1) {
    padding: calc(60px * 5 * 2 * 0 / 110);
    animation-delay: 300ms;
  }

  .radar-spinner .circle:nth-child(2) {
    padding: calc(60px * 5 * 2 * 1 / 110);
    animation-delay: 300ms;
  }

  .radar-spinner .circle:nth-child(3) {
    padding: calc(60px * 5 * 2 * 2 / 110);
    animation-delay: 300ms;
  }

  .radar-spinner .circle:nth-child(4) {
    padding: calc(60px * 5 * 2 * 3 / 110);
    animation-delay: 0ms;
  }

  .radar-spinner .circle-inner, .radar-spinner .circle-inner-container {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: calc(60px * 5 / 110) solid transparent;
  }

  .radar-spinner .circle-inner {
    border-left-color: #ff1d5e;
    border-right-color: #ff1d5e;
  }

  @keyframes radar-spinner-animation {
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }