<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CADASTRO DE MÉDICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="app">
        <div class="header">
            {{header}}
        </div>

        <section>
            <div class="container row">
                <h1>Cadastro de Médico</h1>
                
                <div class="error">
                    <ul>
                        <li v-for="er in erros">{{er}}</li>
                    </ul>
                </div>
    
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Digite aqui" id="nome" type="text" class="validate" v-model.trim="medico.nome">
                            <label for="nome">Nome <span style="color:red">*</span></label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Digite aqui" id="data_nascimento" type="date" class="validate"
                                v-model="medico.data_nascimento">
                            <label for="data_nascimento">Data de Nascimento <span style="color:red">*</span></label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Digite aqui" id="cpf" type="text" maxlength="11" class="validate"
                                v-model.trim="medico.cpf">
                            <label for=" cpf">CPF <span style="color:red">*</span></label>
                        </div>
                        <div class="input-field col s4">
                            <input text-area placeholder="Digite aqui" id="registro_crm" type="text" line class="validate"
                                v-model.trim="medico.registro_crm">
                            <label for="registro_crm">CRM <span style="color:red">*</span></label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Digite aqui" id="especializacao" type="text" line class="validate"
                                v-model.trim="medico.especializacao">
                            <label for="especializacao"> especializacao <span style="color:red">*</span> </label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Digite aqui" id="unidade_trabalho" type="text" class="validate"
                                v-model.trim="medico.unidade_trabalho">
                            <label for="unidade_trabalho">Unidade Trabalho <span style="color:red">*</span></label>
                        </div>
    
    
    
                        <div class="input-field col s12">
                            <button class="btn" v-on:click="salva()">Salvar</button>
                            <button class="btn orange" v-on:click="cancela()">
                                Cancelar
                            </button>
                            <button class="btn red" v-on:click="exclui()">Excluir</button>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 50%">Nome</th>
                                <th>Idade</th>
                                <th>Registro</th>
                                <th>Unidade Trabalho </th>
                        </thead>
                        <tbody>
    
                            <tr v-for="(t, index) in medicos" v-on:click="selecionaMedico(t)" style="cursor: pointer">
                                <td style="width:30%">{{t.nome}}</td>
                                <td style="width:23%">{{pegarIdade(t.data_nascimento)}}</td>
                                <td style="width:23%">{{t.registro_crm}}</td>
                                <td style="width:23%">{{t.unidade_trabalho}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="footer">
            {{footer}}
        </div>

        <div class="loader">
            {{loader}}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script>
        var vapp = new Vue({
            el: "#app",
            data() {
                return {
                    medico: {},
                    erros: [],
                    medicos: [],
                    loader: loader(),
                    footer: footer(),
                    header: header(),
                };
            },
            mounted() {
                verificaAutenticacao();
                this.getMedicos();
            },
            methods: {
                deslogar(){
                    sessionStorage.removeItem("token");
                    window.location.href = "/"
                },
                validarForm(){
                    let _this = this;
                    _this.erros = [];

                    (_this.medico.registro_crm == null || _this.medico.registro_crm == "" )?  _this.erros.push("Informe registro CRM") : ""; 
                    (_this.medico.unidade_trabalho == null || _this.medico.unidade_trabalho == "" )? _this.erros.push("Informe a unidade de trabalho") : ""; 
                    (_this.medico.especializacao == null || _this.medico.especializacao == "" )? _this.erros.push("Informe a especialização") : "";  
                    (_this.medico.cpf == null || _this.medico.cpf == "" )?  _this.erros.push("Informe O CPF") : ""; 
                    ( !_this.validaData())? _this.erros.push("Informe uma data válida") : ""; 
                    (_this.medico.nome == null || _this.medico.nome == "")? _this.erros.push("Informe o Nome"): "";                 
                },
                validaData(){
                    let _this = this;                    
                    if((_this.medico.data_nascimento <= dataAtual() && (_this.medico.data_nascimento != ""  || _this.medico.data_nascimento != undefined))){
                        return true;
                    }
                    return false;
                },
                pegarIdade(e) {
                    if((e != null )){
                        var d = e.split("-")
                        const dataAtual = new Date();
                        const anoAtual = dataAtual.getFullYear();
                        return anoAtual - d[0]
                    }
                    return "--"    
                },
                getMedicos() {
                    let _this = this;
                    //requisição do tipo GET para recuprar as entidades
                    //envia token no header para autenticação
                    $.ajax({
                        url: "http://localhost:8080/medico",
                        method: "GET",
                        beforeSend(xhr) {
                            xhr.setRequestHeader(
                                "Authorization",
                                "Bearer " + sessionStorage.getItem("token")
                            );
                        },
                        success(r) {
                            _this.medicos = r;
                        },
                        error(x) {
                            console.log(`Erro: ${x}`);
                        },
                    });
                },
                selecionaMedico(t) {
                    //seleciona a tarefa ao clicar na tabela
                    this.medico = t;
                },
                cancela() {
                    //limpa a seleção
                    this.erros = [];
                    this.medico = {
                        descricao: null,
                    };
                },
                salva() {
                    let _this = this;
                    _this.erros = [];
                    _this.validarForm();

                    console.log(_this.medico)

                    if(this.erros.length < 1){
                        //requisição do tipo POST para inserir ou atualizar uma entidade
                        //se houver id então atualiza -> isso é verificado no backend
                        //envia token no header para autenticação
                        $.ajax({
                            url: "http://localhost:8080/medico",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(_this.medico),
                            beforeSend(xhr) {
                                xhr.setRequestHeader(
                                    "Authorization",
                                    "Bearer " + sessionStorage.getItem("token")
                                );
                            },
                            success(r) {
                                _this.getMedicos();
                                _this.cancela();
                            },
                            error(x) {
                                console.log(`Erro: ${x}`);
                            },
                        });
                    }
                    
                },
                exclui() {
                    let _this = this;
                    if (_this.medico.id) {
                        //requisição do tipo DELETE para excluir uma entidade
                        //envia token no header para autenticação
                        $.ajax({
                            url: "http://localhost:8080/medico/" + _this.medico.id,
                            method: "DELETE",
                            beforeSend(xhr) {
                                xhr.setRequestHeader(
                                    "Authorization",
                                    "Bearer " + sessionStorage.getItem("token")
                                );
                            },
                            success(r) {
                                _this.getMedicos();
                                _this.cancela();
                            },
                            error(x) {
                                console.log(`Erro: ${x}`);
                            },
                        });
                    }
                },

            }
        });

    </script>

</body>

</html>