<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CADASTRO DE PACIENTE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="container row">
            <h1>Cadastro de Paciente</h1>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Digite aqui" id="nome" type="text" class="validate" v-model="paciente.nome">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Digite aqui" id="data_nascimento" type="date" class="validate"
                            v-model="paciente.data_nascimento">
                        <label for="data_nascimento">Data</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Digite aqui" id="cpf" type="text" maxlength="11" class="validate"
                            v-model="paciente.cpf">
                        <label for=" cpf">CPF</label>
                    </div>
                    <div class="input-field col s12">
                        <input text-area placeholder="Digite aqui" id="alergia" type="text" line class="validate"
                            v-model="paciente.alergia">
                        <!-- v-model="paciente.data_nascimento" /> -->
                        <label for="alergia">Alergia</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Digite aqui" id="altura" type="number" line class="validate"
                            v-model="paciente.altura">
                        <!-- v-model="paciente.data_nascimento" /> -->
                        <label for="altura">Altura</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Digite aqui" id="peso" type="text" maxlength="3" class="validate"
                            v-model="paciente.peso">
                        <!-- v-model="paciente.data_nascimento" /> -->
                        <label for="peso">Peso</label>
                    </div>
                    <div class="col s4">
                        <label> Tipo Sanguíneo </label>
                        <select class="browser-default" v-model="paciente.tipo_sanguineo">
                            <option value="" disabled selected>Escolha o tipo</option>
                            <option value="A+"> A+ </option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B+">B+</option>
                            <option value="B+">B+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <input placeholder="Digite aqui" id="doenca" type="text" class="validate"
                            v-model="paciente.doenca_cronica">
                        <!-- v-model="paciente.data_nascimento" /> -->
                        <label for="doenca">Doença Crônica</label>
                    </div>


                    <div class="input-field col s12">
                        <button class="btn" v-on:click="salva()">Salvar</button>
                        <button class="btn orange" v-on:click="cancela()">
                            Cancelar
                        </button>
                        <button class="btn red" v-on:click="exclui()">Excluir</button>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 10%">Nome</th>
                            <th>Idade</th>
                            <th>Alergia</th>
                            <th>Tipo Sanguíneo </th>
                    </thead>
                    <tbody>

                        <tr v-for="(t, index) in pacientes" v-on:click="selecionaPaciente(t)" style="cursor: pointer">
                            <td>{{t.nome}}</td>
                            <td>{{t.idade}}</td>
                            <td>{{t.alergia}}</td>
                            <td>{{t.tipo_sanguineo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var vapp = new Vue({
            el: "#app",
            data() {
                return {
                    paciente: {},
                    pacientes: [],
                    _usuario: [],
                    _usuarios: {},
                };
            },
            mounted() {
                //efetua o login no momento em que carrega a app
                this.efetuaLogin();
            },
            methods: {
                efetuaLogin() {
                    let _this = this;
                    console.log(_this.getUsuarioLogin());
                    //se houver token executa a consulta diretamente
                    if (sessionStorage.getItem("token") == null) {
                        //envia uma consulta usando POST com usuário e senha para login
                        $.ajax({
                            url: "http://localhost:8080/login",
                            method: "POST",
                            data: { usuario: "usuario", senha: 1234 },
                        }).done((r) => {
                            //salva o token na storage
                            sessionStorage.setItem("token", r);   
                            _this.getPacientes();
                        });
                    } else {
                        _this.getPacientes();
                        
                    }
                },

                getPacientes() {
                    let _this = this;
                    //requisição do tipo GET para recuprar as entidades
                    //envia token no header para autenticação
                    $.ajax({
                        url: "http://localhost:8080/paciente",
                        method: "GET",
                        beforeSend(xhr) {
                            xhr.setRequestHeader(
                                "Authorization",
                                "Bearer " + sessionStorage.getItem("token")
                            );
                        },
                        success(r) {
                            _this.pacientes = r;
                        },
                        error(x) {
                            console.log(`Erro: ${x}`);
                        },
                    });
                },
                selecionaPaciente(t) {
                    //seleciona a tarefa ao clicar na tabela
                    this.paciente = t;
                },
                cancela() {
                    //limpa a seleção
                    this.paciente = {
                        descricao: null,
                    };
                },
                salva() {
                    let _this = this;
                    console.log(_this.paciente)
                    //requisição do tipo POST para inserir ou atualizar uma entidade
                    //se houver id então atualiza -> isso é verificado no backend
                    //envia token no header para autenticação
                    $.ajax({
                        url: "http://localhost:8080/paciente",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(_this.paciente),
                        beforeSend(xhr) {
                            xhr.setRequestHeader(
                                "Authorization",
                                "Bearer " + sessionStorage.getItem("token")
                            );
                        },
                        success(r) {
                            _this.getPacientes();
                            console.log('passei aqui')
                            _this.cancela();
                        },
                        error(x) {
                            console.log(`Erro: ${x}`);
                        },
                    });
                },
                exclui() {
                    let _this = this;
                    if (_this.paciente.id) {
                        //requisição do tipo DELETE para excluir uma entidade
                        //envia token no header para autenticação
                        $.ajax({
                            url: "http://localhost:8080/paciente/" + _this.paciente.id,
                            method: "DELETE",
                            beforeSend(xhr) {
                                xhr.setRequestHeader(
                                    "Authorization",
                                    "Bearer " + sessionStorage.getItem("token")
                                );
                            },
                            success(r) {
                                _this.getPacientes();
                                _this.cancela();
                            },
                            error(x) {
                                console.log(`Erro: ${x}`);
                            },
                        });
                    }
                },

            }
        });

    </script>

</body>

</html>